.kc-edit-icon {
  color: var(--pf-global--Color--200);
  margin-left: 5px;
}

.kc-showData-btn {
  padding-left: 0;
}

.kc-userLabel-row {
  display: inline-block !important;
  width: 300px;
}

.kc-form-group-userLabel, .kc-userLabel-actionBtns {
  display: flex;
}

.kc-editUserLabel-btn, .kc-editUserLabel-cancelBtn {
  color: var(--pf-global--Color--200) !important;
}

.kc-editUserLabel-btn {
  padding-top: 0px;
}

.kc-editUserLabel-btn:hover {
  filter: brightness(55%);
}

.kc-editUserLabel-acceptBtn {
  padding-right: 8px;
}

.kc-editUserLabel-cancelBtn {
  padding-left: 8px !important;
}

.pf-c-table.pf-m-compact tr:not(.pf-c-table__expandable-row)>:last-child {
  overflow-wrap: anywhere;
}

.kc-setPasswordBtn-tbl {
  margin: 25px 0 25px 25px;
}

.kc-form-userLabel {
  max-height: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;;
}

.kc-notExpandedRow-credentialType {
  padding: 15px 0px 15px 15px !important;
}

.kc-expandedRow-credentialType {
  width: 440px !important;
  padding-left: 85px !important;
}

.kc-expandedRow-emptyCol {
  width: 370px !important;
}

.kc-expandedRows {
  padding: 0px !important;
}

.kc-temporaryPassword {
  margin: 6px 0 10px 35px;
}

.kc-password, .kc-passwordConfirmation {
  width: 355px;
  float: right;
}

.pf-m-error {
  display: inline-block;
  margin-left: var(--pf-global--spacer--xl);
}

.resetCredentialBtn-header {
  margin: 10px 25px 10px 0;
  float: right;
}
