.pf-icon-group-members {
  display: flex;
  align-items: center;
}

.pf-icon-group-members svg {
  color: var(--pf-global--Color--200);
  font-size: var(--pf-global--FontSize--md);
  margin-right: var(--pf-global--spacer--sm);
}
