@import "@patternfly/patternfly/patternfly.min.css";
@import "@patternfly/patternfly/patternfly-addons.css";

.pf-c-brand {
  height: 35px;
}

.pf-c-page__main-section.pf-m-light {
  padding: 0px;
  background-color: var(--pf-c-page__main-section--m-light--BackgroundColor);
}

.pf-c-content.rolesDescription {
  padding: var(--pf-c-page__main-section--PaddingLeft);
}
