.keycloak__discovery-settings__metadata .pf-c-expandable-section__toggle {
  margin-left: var(--pf-c-form--m-horizontal__group-label--md--GridColumnWidth);
}

input#kc-role {
  width: 300px;
  margin-right: 24px;
}

h1.kc-add-mapper-title {
  margin-left: calc(-1 * var(--pf-global--spacer--md));
}

div.kc-meta-data-toggle {
  margin-top: calc(-1 * var(--pf-global--spacer--xl));
}

input#kc-modal-sso-service-url,
input#modal-single-logout-service-url,
input#validatingX509Certs,
input#allowedClockSkew,
input#attributeConsumingServiceIndex,
input#attributeConsumingServiceName {
  background-color: transparent;
  border: none;
  pointer-events: none;
}

label.pf-c-switch.kc-backchannelLogout,
label.pf-c-switch.kc-allowCreate,
label.pf-c-switch.kc-httpPostBindingResponse,
label.pf-c-switch.kc-httpPostBindingAuthnRequest,
label.pf-c-switch.kc-httpPostBindingLogout,
label.pf-c-switch.kc-wantAuthnRequestsSigned,
label.pf-c-switch.kc-wantAssertionsSigned,
label.pf-c-switch.kc-wantAssertionsEncrypted,
label.pf-c-switch.kc-forceAuthentication,
label.pf-c-switch.kc-validateSignature,
label.pf-c-switch.kc-signServiceProviderMetadata,
label.pf-c-switch.kc-passSubject {
  column-gap: var(--pf-global--spacer--sm);
}

label.pf-c-switch.kc-backchannelLogout > span.pf-c-switch__toggle,
label.pf-c-switch.kc-httpPostBindingAuthnRequest > span.pf-c-switch__toggle,
label.pf-c-switch.kc-allowCreate > span.pf-c-switch__toggle,
label.pf-c-switch.kc-httpPostBindingResponse > span.pf-c-switch__toggle,
label.pf-c-switch.kc-httpPostBindingAuthnRequest > span.pf-c-switch__toggle,
label.pf-c-switch.kc-httpPostBindingLogout > span.pf-c-switch__toggle,
label.pf-c-switch.kc-wantAuthnRequestsSigned > span.pf-c-switch__toggle,
label.pf-c-switch.kc-wantAssertionsSigned > span.pf-c-switch__toggle,
label.pf-c-switch.kc-wantAssertionsEncrypted > span.pf-c-switch__toggle,
label.pf-c-switch.kc-forceAuthentication > span.pf-c-switch__toggle,
label.pf-c-switch.kc-validateSignature > span.pf-c-switch__toggle,
label.pf-c-switch.kc-signServiceProviderMetadata > span.pf-c-switch__toggle,
label.pf-c-switch.kc-passSubject > span.pf-c-switch__toggle {
  display: none;
}

span#backchannelLogout-on,
span#backchannelLogout-off,
span#allowCreate-on,
span#allowCreate-off,
span#httpPostBindingResponse-on,
span#httpPostBindingResponse-off,
span#httpPostBindingAuthnRequest-on,
span#httpPostBindingAuthnRequest-off,
span#httpPostBindingLogout-on,
span#httpPostBindingLogout-off,
span#wantAuthnRequestsSigned-on,
span#wantAuthnRequestsSigned-off,
span#wantAssertionsSigned-on,
span#wantAssertionsSigned-off,
span#wantAssertionsEncrypted-on,
span#wantAssertionsEncrypted-off,
span#forceAuthentication-on,
span#forceAuthentication-off,
span#validateSignature-on,
span#validateSignature-off,
span#signServiceProviderMetadata-on,
span#signServiceProviderMetadata-off,
span#passSubject-on,
span#passSubject-off {
  color: var(--pf-global--Color--100);
}

button#kc-nameIdPolicyFormat,
button#kc-principalType {
  background-color: transparent;
}

button#kc-nameIdPolicyFormat > span.pf-c-select__toggle-arrow,
button#kc-principalType > span.pf-c-select__toggle-arrow {
  display: none;
}
