.kc-form-panel__panel.pf-c-card.pf-m-flat {
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: var(--pf-global--spacer--sm);
}

.kc-form-panel__header.pf-c-card__header,
.kc-form-panel__body.pf-c-card__body {
  padding-left: 0px;
}
